@import '@styles/variable.module.scss';
@import '@styles/mixins.module.scss';
.container{
    @include flex_box_custom(center, center, 20px);
    flex-direction: column;
    background-color: #363636;
    margin-top: 100px;
    color: $white_color;
    padding: 50px 0;

    img{
        color: $white_color;
    }
    .footer_links{
        @include flex_box_custom(center, center, 15px);
        flex-direction: row;
        flex-wrap: wrap;
        a{
            color: $white_color;
            text-decoration: none;
            padding: 0px 15px;
        }
    }
    .pay_method{
        h3{
            text-align: center;
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 400;
        }
    }
    .copyright{
        padding: 15px 0;
        span{
            font-size: 16px;
            font-weight: 400;
        }
    }
}